/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 75px;
  line-height: 75px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 75px 15px 0;
}

body > .navbar-fixed-top {
  position: fixed;
  width: 100%;
  z-index: 1030;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
}

code {
  font-size: 80%;
}



/* Sticky navbar */

.nabvar-fixed-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030;
}